{% extends "base.html" %}
{% load static %}

{% block title %}IT Basic{% endblock title %}

{% block body %}

<h3 class="m-3">Income-Tax: Basic <a href="{% static "it/basic.pdf" %}" target="_blank">ICAI</a></h3>

<ul type="circle">
    <li>
        <div class="pos-f-t">
            <nav class="navbar">
                <button class="navbar-toggler text-muted" type="button" data-toggle="collapse" data-target="#content-1" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <b>Overview of Income Tax Law in India</b>
                </button>
            </nav>
            <div class="collapse" id="content-1">
            <div class="p-4">
                <span class="text-muted">

                    <p>The Constitution of India, in Article 265 lays down that “No tax shall be levied or collected except
                        by authority of law.” Accordingly, both the levy of tax as well as its collection shall be made under
                        a law framed by the government. </p>

                    <p>Constitution of India gives the power to levy and collect taxes, whether direct or indirect, to the
                        Central and State Government. The Parliament and State Legislatures are empowered to make
                        laws on the matters enumerated in the Seventh Schedule by virtue of Article 246 of the
                        Constitution of India.
                        </p>

                    <p>The Seventh Schedule to Article 246 contains three lists which enumerate the matters under
                        which the Parliament and the State Legislatures have the authority to make laws for the purpose of
                        levy of taxes. </p>

                    <div style="border:2px solid black; padding: 1px;">
                    <p>The following are the lists:</p>

                    <p>Union List or List I: Parliament has the exclusive power to make laws on the matters
                        contained in Union List. </p>
                    
                    <p>State List or List II: The Legislatures of any State has the exclusive power to make laws
                        on the matters contained in the State List.</p>
                    
                    <p>Concurrent List or List III: Both Parliament and State Legislatures have the power to
                        make laws on the matters contained in the Concurrent List. </p>
                    </div>

                    <p>Income-tax is the most significant direct tax. Entry 82 of the Union List i.e., List I in the Seventh
                        Schedule to Article 246 of the Constitution of India has given the power to the Parliament to make
                        laws on taxes on income other than agricultural income.</p>

                    <p>Income-tax is a tax levied on the total income of the previous year of every person. A person
                        includes an individual, Hindu Undivided Family (HUF), Association of Persons (AOP), Body of
                        Individuals (BOI), a firm, a company etc. The income-tax law in India consists of the following
                        components </p>
                    
                    <h3>COMPONENTS OF INCOME TAX LAW</h3>
                    <ul>
                        <li>INCOME TAX ACT</li>
                        <li>ANNUAL FINANCE ACT</li>
                        <li>INCOME TAX RULES</li>
                        <li>CIRCULARS/ NOTIFICATIONS</li>
                        <li>LEGAL DECISIONS OF COURTS</li>
                    </ul>

                    <br>
                    
                    <h4 style="background-color: bisque; border: 2px solid black;">Income-tax Act, 1961</h4>
                    <p>The levy of income-tax in India is governed by the Income-tax Act, 1961. In this book we shall
                        briefly refer to this as the Act. </p>
                    <ul>
                        <li>It extends to the whole of India.</li>
                        <li>It came into force on 1st April, 1962.</li>
                        <li>It contains sections 1 to 298 and schedules I to XIV. </li>
                        <li>It undergoes a change every year by the Annual Finance Act passed by Parliament, and
                            other legislations like the Taxation Laws (Amendment) Act. </li>
                    </ul>

                    <br>

                    <h4 style="background-color: bisque; border: 2px solid black;">The Finance Act</h4>
                    <p>Every year the Finance Minister of the Government of India introduces the Finance Bill in the
                        Parliament‘s Budget Session. When the Finance Bill is passed by both the houses of the
                        Parliament and gets the assent of the President, it becomes the Finance Act. New provisions are
                        inserted; existing provisions are substituted or amended every year in the Income-tax Act, 1961
                        and other tax laws by the Finance Act.</p>
                    <p>The First Schedule to the Finance Act contains four parts which specify the rates of tax -</p>
                    <ul>
                        <li>Part I of the First Schedule to the Finance Act specifies the rates of tax applicable to the
                            current Assessment Year. Accordingly, Part I of the First Schedule to the Finance Act, 2023
                            specifies the rates of tax for A.Y. 2023-24. </li>
                        <li>Part I of the First Schedule to the Finance Act specifies the rates of tax applicable to the
                            current Assessment Year. Accordingly, Part I of the First Schedule to the Finance Act, 2023
                            specifies the rates of tax for A.Y. 2023-24. </li>
                        <li>Part III gives the rates for calculating income-tax for deducting tax from income chargeable
                            under the head ―Salaries‖ and computation of advance tax for F.Y. 2023-24 where the
                            assessee exercises the option to shift out of the default tax regime provided under section
                            115BAC(1A). </li>
                        <li>Part IV contains the rules for computing net agricultural income. </li>
                    </ul>

                    <br>
                    
                    <h4 style="background-color: bisque; border: 2px solid black;">Income-tax Rules, 1962</h4>
                    <p>The administration of direct taxes is looked after by the Central Board of Direct Taxes (CBDT).</p>
                    <ul>
                        <li>The CBDT is empowered to make rules for carrying out the purposes of the Act</li>
                        <li>For the proper administration of the Income-tax Act, 1961, the CBDT frames rules from time
                            to time. These rules are collectively called Income-tax Rules, 1962. </li>
                        <li>It is important to keep in mind that along with the Income-tax Act, 1961, these rules should
                            also be studied.</li>
                    </ul>

                    <br>
                    
                    <h4 style="background-color: bisque; border: 2px solid black;">Circulars and Notifications</h4>
                    <h5>Circulars</h5>
                    <ul>
                        <li>Circulars are issued by the CBDT from time to time to deal with certain specific problems
                            and to clarify doubts regarding the scope and meaning of certain provisions of the Act. </li>
                        <li>Circulars are issued for the guidance of the officers and/or assessees. However, it cannot
                            override the provisions of the Act.</li>
                        <li>The department is bound by the circulars. While such circulars are not binding on the
                            assessees, they can take advantage of beneficial circulars.</li>
                    </ul>

                    <h5>Notifications</h5>
                    <ul>
                        <li>Notifications are issued by the Central Government to give effect to the provisions of the Act.</li>
                        <p>Example: Under section 10(15)(iv)(h), interest payable by any public sector company in
                            respect of such bonds or debentures and subject to such conditions as the Central
                            Government may, by notification in the Official Gazette, specify in this behalf would be
                            exempt. Therefore, the bonds and debentures, interest on which would qualify for
                            exemption under this section are specified by the Central Government through Notifications.</p>
                        <li>The CBDT is also empowered to make and amend rules for the purposes of the Act by
                            issuing notifications which are binding on both department and assessees.</li>
                            <p>Example: Under section 35CCD, the CBDT is empowered to prescribe guidelines for
                                notification of skill development project. Accordingly, the CBDT has, vide Notification No.
                                54/2013 dated 15.7.2013, prescribed Rule 6AAF laying down the guidelines and conditions
                                for approval of skill development project under section 35CCD. 
                                </p>
                    </ul>


                </span>
            </div>
            </div>   
        </div>

    </li>

    <li>
        <div class="pos-f-t">
            <nav class="navbar">
                <button class="navbar-toggler text-muted" type="button" data-toggle="collapse" data-target="#content-2" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <b>Important Definitions</b>
                </button>
            </nav>
            <div class="collapse" id="content-2">
            <div class="p-4">
                <span class="text-muted">
                    <p>In order to understand the provisions of the Act, one must have a thorough knowledge of the
                        meanings of certain key terms like "assessment year", "person", "assessee", "income", etc. To
                        understand the meanings of these terms we have to first check whether they are defined in the
                        Act. </p>


                    <p><b>Terms defined in the Act:</b> Section 2 gives definitions of the various terms and expressions used
                        therein. If a particular definition is given in the Act itself, we have to be guided by that definition.
                        For e.g. the term "perquisite" has been defined under section 17(2) for the purpose of taxation of
                        salaries. </p>

                    <p><b>Terms not defined under the Act:</b> If a particular definition is not given in the Act, reference can
                        be made to the General Clauses Act or dictionaries. 
                        </p>
                    
                    <p>Some of the important terms defined under section 2 are given below:</p>

                <span style="color: black;">
                    <div class="pos-f-t">
                        <nav class="navbar">
                            <button class="navbar-toggler text-muted" type="button" data-toggle="collapse" data-target="#content-2-1" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <h4 style="background-color: bisque; border: 2px solid black;"><b>Assessee [Section 2(7)]</b></h4>
                            </button>
                        </nav>
                        <div class="collapse" id="content-2-1">
                            <span style="color: black;">
                                <p>Assessee means a person by whom any tax or any other sum of money is payable under this
                                    Act. In addition, it includes - </p>
                                <ul>
                                    <li>Every person in respect of whom any proceeding under this Act has been taken for the
                                        assessment of -</li>
                                        <ul>
                                            <li>his income; or</li>
                                            <li>the income of any other person in respect of which he is assessable; or </li>
                                            <li>the loss sustained by him or by such other person; or </li>
                                            <li>the amount of refund due to him or to such other person.</li>
                                        </ul>
                                    <li>Every person who is deemed to be an assessee under any provision of this Act; </li>
                                    <li>Every person who is deemed to be an assessee-in-default under any provision of this Act.</li>
                                </ul>
                            </span>
                        </div>
                    </div> 
                    
                    <div class="pos-f-t">
                        <nav class="navbar">
                            <button class="navbar-toggler text-muted" type="button" data-toggle="collapse" data-target="#content-2-2" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <h4 style="background-color: bisque; border: 2px solid black;"><b>Assessment [Section 2(8)]</b></h4>
                            </button>
                        </nav>
                        <div class="collapse" id="content-2-2">
                            <span style="color: black;">
                                <p>This is the procedure by which the income of an assessee is determined by the Assessing Officer.
                                    It may be by way of a normal assessment or by way of reassessment of an income previously
                                    assessed.</p>
                                <b>Types of income-tax assessment:</b>
                                <ol type="1">
                                    <li>Self-assessment under section 140A</li>
                                    <li>Summary assessment under section 143(1)</li>
                                    <li>Scrutiny assessment under section 143(3) </li>
                                    <li>Best judgment assessment under section 144</li>
                                    <li>Re-assessment or income escaping assessment under section 147</li>
                                </ol>
                            </span>
                        </div>
                    </div>
                    
                    <div class="pos-f-t">
                        <nav class="navbar">
                            <button class="navbar-toggler text-muted" type="button" data-toggle="collapse" data-target="#content-2-t" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <h4 style="background-color: bisque; border: 2px solid black;"><b>Assessee [Section 2(7)]</b></h4>
                            </button>
                        </nav>
                        <div class="collapse" id="content-2-t">
                            <span style="color: black;">
                                <p>Assessee means a person by whom any tax or any other sum of money is payable under this
                                    Act. In addition, it includes - </p>
                            </span>
                        </div>
                    </div>


                </span>



                </span>
            </div>
            </div>   
        </div>
                
    </li>
</ul>


{% endblock body %}